<div class="page-area">
    <h1>Contact Us</h1>

    <div>
        <p> ng-content is a directive in Angular that allows you to project content into a component.In other words, it
                is a placeholder element that is used to insert content dynamically into a component. This can be useful
                in situations where you want to reuse the same component in multiple places, but want to display
                different content each time.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-card>
                <h5 class="card-title">TV</h5>
                <a class="btn btn-success btn-sm">Know more</a>
            </app-card>

            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a class="btn btn-danger btn-sm">Know more</a>
            </app-card>
        </div>
        <div class="col-md-12">
            <app-card>
                <h5 class="card-title">Washing Machine</h5>
                <a class="btn btn-warning btn-sm">Know more</a>
            </app-card>
            <app-card>
                <h5 class="card-title">Iphone</h5>
                <a class="btn btn-primary btn-sm">Know more</a>
            </app-card>
        </div>
    </div>

</div>